@import '../../styles/vars';


.button_account:hover {
    color: white;
    background-color: $pink_color;
    border: 1px solid #b84747;
}

.button_account {
    text-decoration: none;
    padding: 0px;

    border: 1px solid;
    color: $pink_color;
    font-size: 16px;
    transition: all 0.3s;

    font-family: $font_fam;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;



    width: 138px;
    height: 38px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;

}

.checkout__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 262px;
    height: 440px;
    background-color: #ffffff;
    border-radius: 5px;

    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 20px;
    padding-top: 21px;
    z-index: 999;
    gap: 50px;
}

.total_text {
    font-family: $font_fam;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $black_color;
}

.check_out_heading {
    font-family: $font_fam;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $black_color;

}

.summary_product {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.product_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.check_out_price {
    font-family: $font_fam;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: $pink_color;
}

.close_checkout {
    color: #c0c0c0;
    align-items: center;
    display: flex;
}