.menu {
  padding-top: 3%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
}

.grid {
  display: grid;
  justify-content: center;
  gap: 21px 20px;
}

.item_menu_1 {
  grid-row: 3;
  grid-column: 1;
  translate: 0 -90.35px;
}

.item_menu_2 {
  grid-row: 1/span 2;
  grid-column: 1;
}

.item_menu_3 {
  grid-column: 2;
  grid-row: 2/span 2;
  translate: 0 -90.35px;
}

.item_menu_4 {
  grid-row: 1;
  grid-column: 2;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.content_font {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
}

.content_font_sub {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-align: center;
}

.grid_feature {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 87px;
  margin-bottom: 79px;
}

.item_content {
  width: 263px;
  position: relative;
}

.item_img {
  display: block;
  width: 263px;
  text-decoration: none;
}

.item_img_pic {
  width: 100%;
}

.item_content:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}

.item_content:hover .item_img_pic {
  filter: brightness(30%);
}

.txt_box {
  padding: 20px;
}

.item_dsc {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
}

.item_price {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.add:hover {
  box-shadow: 0 0 10px 0 #fff;
}

.add_box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.item_content:hover .add_box {
  display: flex;
}

.add {
  display: flex;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #fff;
  text-decoration: none;
  align-items: center;
  pointer-events: all;
}

.block_line {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 113px;
}

.content_font_card {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #9F9F9F;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 2%;
}

.button {
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid;
  color: #F16D7F;
  font-size: 16px;
  transition: all 0.3s;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.button.__account {
  padding: 0px;
  font-weight: 700;
  letter-spacing: 0.025em;
  width: 138px;
  height: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.button.continue {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-top: 15px;
}
.button.quote {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-left: 230px;
}
.button.coupon {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: center;
  margin-top: 17px;
}

.button:hover {
  color: white;
  background-color: #F16D7F;
  border: 1px solid #b84747;
}

.footer_block {
  max-width: 1600px;
  margin: 0 auto;
}

.grid_delivery {
  display: grid;
  justify-content: center;
  background-color: #222222;
  gap: 0 1%;
  align-items: center;
  margin-bottom: 97px;
}

.item_delivery1 {
  grid-row: 1/span 3;
  grid-column: 1;
}

.item_delivery2 {
  grid-column: 2;
  grid-row: 1;
}

.item_delivery3 {
  grid-column: 2;
  grid-row: 2;
}

.item_delivery4 {
  grid-column: 2;
  grid-row: 3;
}

.item_delivery5 {
  grid-column: 3;
  grid-row: 1;
}

.item_delivery6 {
  grid-column: 3;
  grid-row: 2;
}

.item_delivery7 {
  grid-column: 3;
  grid-row: 3;
}

.on_top {
  top: 50%;
  bottom: 50%;
  translate: -50% -50%;
  left: 50%;
  right: 50%;
  position: absolute;
}

.icon_content_header {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-top: 23px;
  margin-bottom: 17px;
}

.item_content_text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}/*# sourceMappingURL=HomePage.module.css.map */