@import '../../styles/vars';

.bread_block {

    margin: 0 auto;
    height: 148px;
    background-color: #f8f3f4;
    align-items: center;
    display: flex;
    gap: 750px;
    justify-content: center;

    .container_right {
        padding-right: 230px;
    }
}

.container_left_product>summary:hover>.product_category_header {
    color: white;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #f16d7f);
    border: 0;
    transition: all 0.2s;
}

.container_left_product[open]>summary>.product_category_header {
    color: $pink_color;
}

.column_product .container_left {
    justify-content: flex-start;
    padding: 0;
}

.container_left {
    display: flex;
    padding-left: 18%;

    justify-content: flex-start;
    align-items: center;

    &.__single_page_header {
        font-family: $font_fam;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #f16d7f;
        padding-left: 230px;
    }

    &__checkout {
        padding-left: 28px;
        justify-content: flex-start;
        align-items: normal;
        flex-direction: column;

    }
}

.container_left_single_page_header {
    display: flex;
    padding-left: 18%;

    justify-content: flex-start;
    align-items: center;

    font-family: $font_fam;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
    padding-left: 230px;

}

.container_right {
    gap: 26px;
    padding-right: 18%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__checkout {
        gap: 0;
        padding-right: 400px;
        align-items: normal;
        flex-direction: column;
    }
}


ul.breadcrumb_single {
    padding: 10px 16px;
    list-style: none;
    font-family: $font_fam;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}

ul.breadcrumb_single li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb_single li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb_single li a {
    font-family: $font_fam;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
    text-decoration: none;
}

ul.breadcrumb_single li a:hover {

    color: #f16d7f;
}


.cart_content {
    display: flex;
    flex-direction: column;
    font-family: $font_fam;


    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 79px;
    margin-top: 90px;

    .content_header_text {

        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: #222222;
    }

    .content_para_text {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #575757;
    }

    .cart_content_header {
        display: flex;
        justify-content: start;
        gap: 581px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 25px;
        margin-bottom: 22px;

        .container_right {
            gap: 111px;
            padding-right: 0;


        }

        .container_left {
            padding-left: 0;
        }

    }

    .cart_content_products {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 266px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 25px;

        margin-bottom: 26px;

        .container_right {
            gap: 141px;
            padding-right: 0;

            .product_text {
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #656565;
            }
        }

        .container_left {
            padding-left: 0;
        }


    }

    .picture_text {
        display: flex;
        justify-content: center;
    }

    .container_left {
        padding-left: 230px;
    }

    .container_right {
        padding-right: 230px;
    }

    .picture_text_column {
        display: flex;
        flex-direction: column;
        padding-left: 21px;

        .content_header_text {
            margin-bottom: 28px;
            padding-top: 13px;
        }
    }

    .cart_product {

        width: 54px;
        height: 30px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        text-align: center;
    }

}

.close_checkout {
    color: #c0c0c0;
    align-items: center;
    display: flex;
}



.container_cart_content {
    display: flex;
    padding-left: 230px;
    padding-right: 230px;
    justify-content: space-between;
    margin-top: 63px;
    font-family: $font_fam;

    .container_left {
        padding-left: 0;
    }

    .container_right {
        padding-right: 0;
    }

    .column_cart_content {

        display: flex;
        flex-direction: column;

        .column_cart_content_header {

            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }



        .cart_product {
            margin-top: 20px;
            padding-left: 18px;
            width: 355px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
        }

        .cart_sub_text {
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #000000;
        }
    }

    .column_cart_content:last-of-type {
        background-color: #f5f3f3;
        width: 360px;
        height: 214px;
        background-color: #f5f3f3;
        padding: 40px;
        text-align: right;
    }


}


.button {
    text-decoration: none;
    padding: 1rem 2rem;

    border: 1px solid;
    color: $pink_color;
    font-size: 16px;
    transition: all 0.3s;

    font-family: $font_fam;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;

    &.__account {
        padding: 0px;
        font-weight: 700;
        letter-spacing: 0.025em;
        width: 138px;
        height: 38px;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
    }

    &.continue {
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 15px;

    }


    &.quote {
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;


        margin-left: 230px;
    }

    &.coupon {
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        text-align: center;
        margin-top: 17px;
    }

}


.button_continue {
    text-decoration: none;
    padding: 1rem 2rem;

    border: 1px solid;
    color: $pink_color;
    font-size: 16px;
    transition: all 0.3s;

    font-family: $font_fam;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;


    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-top: 15px;



}

.button_continue:hover {
    color: white;
    background-color: $pink_color;
    border: 1px solid #b84747;
}

.button_quote {
    text-decoration: none;
    padding: 1rem 2rem;

    border: 1px solid;
    color: $pink_color;
    font-size: 16px;
    transition: all 0.3s;

    font-family: $font_fam;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;



    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;


    margin-left: 230px;

}

.button_quote:hover {
    color: white;
    background-color: $pink_color;
    border: 1px solid #b84747;
}

.button_coupon {
    text-decoration: none;
    padding: 1rem 2rem;

    border: 1px solid;
    color: $pink_color;
    font-size: 16px;
    transition: all 0.3s;

    font-family: $font_fam;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;


    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    text-align: center;
    margin-top: 17px;
}

.button_coupon:hover {
    color: white;
    background-color: $pink_color;
    border: 1px solid #b84747;
}