@import '../../styles/vars';





.offer {
    background-color: white;
    position: relative;
    top: -66%;
    width: 224px;
    padding: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.offer_text {
    font-family: $font_fam;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $black_color;


}

.__subtext {
    font-family: $font_fam;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 30px;
    color: $pink_color;

}


.hoverable_img_img {
    max-width: 100%;
    transition: all 0.7s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    display: block;
    width: 263px;
    text-decoration: none;
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 560px;
}

.hoverable_img_img:hover {
    transform: scale(1.1);
}